@use '../modules/forwarded' as *; 

.card {
	@include m-flex-center;
	align-items: flex-start;
	padding: 24px 0;
	gap: 48px;

	&__main-photo {
		background-color: #F4F8FB80;
		border: 1px solid #F4F8FB;
		border-radius: $v-border-radius;
		padding: $v-padding-medium;
		@include m-flex-center;
		width: 692px;
		height: 692px;
	}

	&__gallery {
		@include m-flex-center;
		justify-content: space-between;
		margin-top: 16px;
	}

	&__info {
		max-width: 550px;
	}

	&__title {
		font-size: 32px;
		line-height: 40px;
		font-weight: 700;
		margin-bottom: 16px;
	}

	&__price {
		font-size: 24px;
		line-height: 32px;
		font-weight: 700;
		margin-bottom: 16px;
	}

	&__colour-label,
	&__size-label {
		font-size: 16px;
		line-height: 24px;
		font-weight: 700;
	}
	&__selected-colour {
		padding-left: 8px;
		font-weight: 400;
	}

	&__colour-images {
		margin-top: 16px;
		display: flex;
		flex-direction: row;
		gap: 12px;
	}
	&__colour-item {
		cursor: pointer;
		max-width: 100px;
		height: 70px;
		padding: 12px;

		background-color: #C5C7CA40;
		border: 1px solid #F0F6FA;
		border-radius: 6px;
	}
	&__colour-item--selected {
		@include m-selected-button
	}
	&__colour-item--disabled {
		opacity: 50%;
		cursor: default;
		position: relative;
	}
	&__colour-item--disabled::after {
		content: 'Sold Out'; 
		position: absolute;
		top: 50px;
		left: 80%;
		transform: translateX(-50%);
		background-color: #000;
		color: white;
		padding: 4px 8px;
		border-radius: 5px;
		font-size: 12px;
		opacity: 0;
		visibility: hidden;
		z-index: 10;
		width: 65px;
	}
	&__colour-item--disabled:hover::after {
		opacity: 1;
		visibility: visible;
	}
	&__colour-item--disabled:hover {
		.card__colour-image  {
			transform: none;
		}
	}

	&__colour-image {
		width: 77px;
		height: 46px;
		transition: transform 0.3s ease;
	}

	&__size-configurator {
		margin-top: 24px;
	}

	&__selected-size,
	&__selected-conversion {
		padding-left: 6px;
		font-weight: 400;
	}

	&__size-conversion-picker {
		margin-top: 8px;
		display: flex;
		flex-direction: row;
		gap: 8px;
		font-size: 14px;

		.plain-button {
			padding: 2px;
		}
	}

	&__size--picker {
		margin-top: 10px;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(102px, 1fr));
		gap: 10px; 

		width: 552px;
		margin-right: -10px;
	}
	
	&__size--info {
		width: 550px;
		display: flex;
		margin-top: 10px;

		.plain-button {
			margin-left: auto;	
			color: #51585F;
			&:hover {
				color: #34739D;
			}
		}
	}

	&__actions {
		display: flex;
		flex-direction: row;
		gap: 12px;
		margin-top: 24px;

		.primary-button {
			width: 100%;
		}

		.outlined-button {
			width: min-content;
			height: 100%;

			&:hover {
				border-color: #34739D;
				color: #34739D;
			}
			&:active {
				border-color: $v-color-primary;
				color: #000;
			}
		}

		.plain-button {
			&:hover {
				color: #34739D;
			}
			&:active {
				border-color: $v-color-primary;
			}
		}
	}
}
