@use 'variables' as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-styles($bg-color, $text-color: #fff, $border-weight: 1px, $border-color: $bg-color, $font-weight: 400) {
	@include flex-center;
	cursor: pointer;

  background-color: $bg-color;
  color: $text-color;
  border: $border-weight solid $border-color;
  border-radius: $border-radius;
  font-weight: $font-weight;
	padding: $padding-medium;
}

@mixin selected-button {
  background-color: $color-background;
	border: 1.5px solid $color-hover;
}

@mixin hover-scale($scale: 1.3) {
  transition: transform 0.3s ease;
  &:hover {
    transform: scale($scale);
  }
}