@use 'functions' as f;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin selected-button {
  background-color: #F0F6FA;
	border: 1.5px solid #34739D;
}