$primary: rgb(85, 185, 158);
$white: #FFFFFF;
$black: linear-gradient(180deg, #000000 58.4%, #191E2A 100%);
$orange: #FC6F32;
$orange-hovered: #ff8652;
$gray: #24292F;
$gray-hovered: #2c323a;
$red: #D64937;
$red-hovered: #e65a47;

$gradient1: -webkit-linear-gradient(125deg, #FF4A59, #FC6F32, #963488);
$gradient2: -webkit-linear-gradient(125deg, rgba(255, 74, 89, 0.2), rgba(252, 111, 50, 0.2), rgba(150, 52, 136, 0.2));
$gradient3: -webkit-linear-gradient(125deg, #FFD6F9, #FFCBB4, #FFBEC3);
$gradient4: -webkit-linear-gradient(125deg, #963488, #FF4A59, #FC6F32, #963488, #FF4A59, #FC6F32, #963488,  #FF4A59, #FC6F32);
